@use './partials/_variables' as *;
@use './partials/_reset' as *;
@use './partials/_globals' as *;
@use './partials/_mixins' as *;


.container {
    @extend .flex-container;

    flex-flow: column nowrap;
    min-height: 100%;
    background: radial-gradient(circle farthest-corner, rgba(255, 255, 255, 1), rgba(255, 255, 255, .2));
}

.xo {
    flex: 0 0 15rem;
    width: 19rem;
    border: 1px solid $primary-color-quartary;
    background-color: $primary-color-quartary
}

.mode {
    @extend .flex-container;

    flex-flow: column nowrap;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    min-height: 16rem;
    height: 100%;

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: $size-increment-x2-1;
        margin-bottom: $size-increment-x2;
    }

    &__main {
        @extend .flex-container;
        
        width: 100%;
    }

    &__type {
        cursor: pointer;
        flex: 0 0 40%;
        padding: .8rem 0;
        border-radius: $size-increment-x1;
        text-align: center;
        background: $primary-color-tertiary;
        transition: background .3s;
        color: $primary-color-quartary;
        
        &:hover {
            background: $primary-color-secondary;
        }

        &:first-child {
            margin-right: $size-increment-x2;
        }
    }

    &__icon {
        font-size: $size-increment-x5;
        margin-bottom: $size-increment-x1;
    }
}

.side {
    @extend .flex-container;
    
    display: none;
    flex-flow: column nowrap;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    min-height: 16rem;
    height: 100%;

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: $size-increment-x2-1;
        margin-bottom: $size-increment-x2;
    }

    &__main {
        @extend .flex-container;
        
        width: 100%;
    }


    &__icon {
        cursor: pointer;
        flex: 0 0 30%;
        text-align: center;

        font-size: $size-increment-x5;
        color: $primary-color-tertiary;

        transition: color .3s;

        &--circle {
            &:hover {
                color: $alternate-color-main;
            }
        }
    
        &--times {
            font-size: 4.8rem;
            &:hover {
                color: $alternate-color-secondary;
            }
        }
    
    }
}


.level {
    @extend .flex-container;
    
    display: none;
    flex-flow: column nowrap;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    min-height: 16rem;
    height: 100%;

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: $size-increment-x2-1;
        margin-bottom: $size-increment-x2;
    }

    &__main {
        @extend .flex-container;
        
        width: 100%;
    }

    &__size {
        text-align: center;
        flex: 0 0 30%;
        cursor: pointer;

    }

    &__icon {
        display: none;

        font-size: $size-increment-x5;
        transition: all .5s;

        &--circle {
            &:hover {
                color: $alternate-color-main;
            }
        }
    
        &--times {
            font-size: 3.5rem;
            &:hover {
                color: $alternate-color-secondary;
            }
        }
    }

    &__one {
        .level__icon--times {
            font-size: $size-increment-x5;
        }
    }
}
