@use './partials/_variables' as *;
@use './partials/_reset' as *;
@use './partials/_globals' as *;
@use './partials/_mixins' as *;


.container {
    @extend .flex-container;

    flex-flow: column nowrap;
    min-height: 100%;
    background: radial-gradient(circle farthest-corner, rgba(255, 255, 255, 1), rgba(255, 255, 255, .2));
}

.xo {
    flex: 0 0 15rem;
    width: 19rem;
    border: 1px solid $primary-color-quartary;
    background-color: #fefefe;
}

.mode {
    @extend .flex-container;

    flex-flow: column nowrap;
    min-height: 25rem;
    height: 100%;

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: $size-increment-x2-1;
        margin-bottom: $size-increment-x2;
    }

    &__main {
        @extend .flex-container;
        
        width: 100%;
    }

    &__type {
        cursor: pointer;
        flex: 0 0 40%;
        padding: .8rem 0;
        border-radius: $size-increment-x1;
        text-align: center;
        background: $primary-color-tertiary;
        transition: background .3s;
        color: $primary-color-quartary;
        
        &:hover {
            background: $primary-color-secondary;
        }

        &:first-child {
            margin-right: $size-increment-x2;
        }
    }

    &__icon {
        font-size: $size-increment-x5;
        margin-bottom: $size-increment-x1;
    }
}

.side {
    @extend .flex-container;
    
    display: none;
    flex-flow: column nowrap;
    min-height: 25rem;
    height: 100%;

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: $size-increment-x2-1;
        margin-bottom: $size-increment-x2;
    }

    &__main {
        @extend .flex-container;
        
        width: 100%;
    }


    &__icon {
        cursor: pointer;
        flex: 0 0 30%;
        text-align: center;

        font-size: $size-increment-x5;
        color: $primary-color-tertiary;

        transition: color .3s;

        &--circle {
            &:hover {
                color: $alternate-color-main;
            }
        }
    
        &--times {
            font-size: 4.8rem;
            &:hover {
                color: $alternate-color-secondary;
            }
        }
    
    }
}

.level {
    @extend .flex-container;
    
    display: none;
    flex-flow: column nowrap;
    min-height: 25rem;
    height: 100%;

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: $size-increment-x2-1;
        margin-bottom: $size-increment-x2;
    }

    &__main {
        @extend .flex-container;
        
        width: 100%;
    }

    &__size {
        text-align: center;
        flex: 0 0 30%;
        cursor: pointer;

    }

    &__icon {
        display: none;

        font-size: $size-increment-x5;
        transition: all .5s;

        &--circle {
            &:hover {
                color: $alternate-color-main;
            }
        }
    
        &--times {
            font-size: 3.5rem;
            &:hover {
                color: $alternate-color-secondary;
            }
        }
    }

    &__one {
        .level__icon--times {
            font-size: $size-increment-x5;
        }
    }
}

.join {
    @extend .flex-container;
    
    display: none;
    flex-flow: column wrap;
    min-height: 25rem;
    height: 100%;

    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: $size-increment-x2-1;
        margin-bottom: $size-increment-x2;
    }

    &__main {
        width: 100%;
    }

    &__form {
        @extend .flex-container;

        width: 100%;
        flex-wrap: wrap;
    }
    
    &__name, &__room, &__action {
        width: 80%;
        padding: $size-increment-x1-2;
        margin-bottom: $size-increment-x2;
        border-radius: $size-increment-x5;
    }

    &__name, &__room {
        padding-left: $size-increment-x2;
        border: 2px solid $primary-color-tertiary;

        transition: border .3s;
        &:hover, &:active, &:focus {
            outline: none;
            border-color: $primary-color-secondary;
        }
    }

    &__action {
        width: 60%;
        color: $primary-color-quartary;
        text-transform: uppercase;
        font-weight: $font-style-medium;
        background-color: $primary-color-tertiary;
        border: none;
        cursor: pointer;

        transition: background .3s;

        &:hover, &:active {
            background-color: $primary-color-secondary;
        }
    }
}

.game {
    @extend .flex-container;

    display: none;
    
    flex-flow: column nowrap;
    align-items: center;

    position: relative;

    &__top, &__bottom {
        width: 100%;
    }

    &__main {
        padding: $size-increment-x2 0;
    }

    &__stats {
        @extend .flex-container;

        justify-content: space-around;

        margin: 0;
        padding: $size-increment-x2 0;
        list-style-type: none;
        text-align: center;
        font-weight: $font-style-bold;

        li {
            font-size: .9rem;
            flex: 0 0 4.5rem;
        }
    }

    &__circle {
        color: $alternate-color-main;
    }

    &__times {
        color: $alternate-color-secondary;
    }

    &__icon {
        font-size: 1.3rem;
        display: block;    
    }

    &__board {
        border-collapse: collapse;
    }

    &__cell {
        width: $size-increment-x6;
        height: $size-increment-x6;
        line-height: $size-increment-x6;
        font-size: $size-increment-x4-1;
        text-align: center;
        border-right: 1px solid $alternate-color-quartary;
        border-bottom: 1px solid $alternate-color-quartary;

        cursor: cell;

        &--hover {
            color: #E8E8E8;
        }
        &--circle{
            color: $alternate-color-main;
        }
        &--times {
            color: $alternate-color-secondary;
        }
        &--won {
            color: $alternate-color-tertiary;
        }
        &--draw {
            color: $alternate-color-quartary;
        }

        &:nth-child(3) {
            border-right: none;
        }
    }

    &__row {
        &:nth-child(3) {
            .game__cell {
                border-bottom: none;
            }
        }
    }

    &__indicator {
        max-width: 20%;
        margin: auto;
        padding: $size-increment-x2 0;    

        .game__icon {
            padding: 2px 0;
            width: 50%;
            text-align: center;

            &--active-circle {
                border-radius: 100%;
                color: $primary-color-quartary;
                box-shadow: 0 0 0 2px $primary-color-quartary;
                background: $alternate-color-main;
            }

            &--active-times {
                border-radius: 100%;
                color: $primary-color-quartary;
                box-shadow: 0 0 0 2px $primary-color-quartary;
                background: $alternate-color-secondary;
            }
        }
    }

    &__switch {
        @extend .flex-container;

        border: 1px solid $alternate-color-quartary;
        border-radius: $size-increment-x5;
    }

    &__controls {
        @extend .flex-container;
        
        justify-content: space-around;
        padding: $size-increment-x2 0;
    }

    &__button {        
        @extend .flex-container;

        flex: 0 0 $size-increment-x3;
        height: $size-increment-x3;
        cursor: pointer;
        color: $primary-color-quartary;
        background: $primary-color-tertiary;
        border-radius: 100%;
        box-shadow: 0 0 0 $size-increment-x1 $primary-color-quartary, 0 0 0 $size-increment-x1 $primary-color-tertiary;
        transition: box-shadow,background .3s;

        &:hover {
            background: $primary-color-secondary;
            box-shadow: 0 0 0 $size-increment-x1 $primary-color-quartary, 0 0 0 $size-increment-x1 $primary-color-secondary;
        }

        &:active, &:focus {
            background: $alternate-color-secondary;
            box-shadow: 0 0 0 $size-increment-x1 $primary-color-quartary, 0 0 0 $size-increment-x1 $alternate-color-secondary;
        }
    }

    &__mode {
        font-weight: $font-style-medium;
        text-transform: uppercase;
        border: 1px solid $primary-color-tertiary;
        border-radius: $size-increment-x5;
        padding: .3em .5em;
    }
}

.game-result {
    display: none;

    @extend .flex-container;

    flex-flow: column nowrap;
    position: absolute;
    width: 100%;
    height: 100%;
    color: $primary-color-quartary;
    background-color: $primary-color-tertiary;
    text-align: center;
    z-index: 1;

    &__icon {
        font-size: 10rem;
    }
    
    &__draw, &__win {
        display: none;
    }

    &__status {
        margin-top: $size-increment-x2;
        font-size: $size-increment-x3;
        font-weight: $font-style-regular;
    }

    &--draw {
        background-color: $alternate-color-tertiary;
    }

    &--circle {
        background-color: $alternate-color-main;

        .game-result__icon {
            color: #ffe451;
        }
    }

    &--times {
        background-color: $alternate-color-secondary;

        .game-result__icon {
            color: #ffe451;
        }
    }
}
