/* ##   size increments   ## */
/* 4px */
/* 8px */
/* 12px */
/* 16px */
/* 24px */
/* 32px */
/* 36px */
/* 40px */
/* 48px */
/* 56px */
/* 64px */
/* 80px */
/* ##   colors   ## */
/* ##   fonts  ## */
/* ## Reset ## */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
}

/* ## Default Styles ## */
body {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #909090;
  background: #5C7184 url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

span {
  display: block;
}

.flex-container, .container, .mode, .mode__main, .side, .side__main, .level, .level__main, .game, .game__stats, .game__switch, .game__controls, .game__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container {
  flex-flow: column nowrap;
  min-height: 100%;
  background: radial-gradient(circle farthest-corner, rgb(255, 255, 255), rgba(255, 255, 255, 0.2));
}

.xo {
  flex: 0 0 15rem;
  width: 19rem;
  border: 1px solid #EFEFEF;
  background-color: #fefefe;
}

.mode {
  flex-flow: column nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 16rem;
  height: 100%;
}
.mode__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.mode__main {
  width: 100%;
}
.mode__type {
  cursor: pointer;
  flex: 0 0 40%;
  padding: 0.8rem 0;
  border-radius: 0.25rem;
  text-align: center;
  background: #909090;
  transition: background 0.3s;
  color: #EFEFEF;
}
.mode__type:hover {
  background: #565656;
}
.mode__type:first-child {
  margin-right: 1rem;
}
.mode__icon {
  font-size: 4rem;
  margin-bottom: 0.25rem;
}

.side {
  display: none;
  flex-flow: column nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 16rem;
  height: 100%;
}
.side__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.side__main {
  width: 100%;
}
.side__icon {
  cursor: pointer;
  flex: 0 0 30%;
  text-align: center;
  font-size: 4rem;
  color: #909090;
  transition: color 0.3s;
}
.side__icon--circle:hover {
  color: #4dbcd4;
}
.side__icon--times {
  font-size: 4.8rem;
}
.side__icon--times:hover {
  color: #3989d4;
}

.level {
  display: none;
  flex-flow: column nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 16rem;
  height: 100%;
}
.level__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.level__main {
  width: 100%;
}
.level__size {
  text-align: center;
  flex: 0 0 30%;
  cursor: pointer;
}
.level__icon {
  display: none;
  font-size: 4rem;
  transition: all 0.5s;
}
.level__icon--circle:hover {
  color: #4dbcd4;
}
.level__icon--times {
  font-size: 3.5rem;
}
.level__icon--times:hover {
  color: #3989d4;
}
.level__one .level__icon--times {
  font-size: 4rem;
}

.game {
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
}
.game__top, .game__bottom {
  width: 100%;
}
.game__main {
  padding: 1rem 0;
}
.game__stats {
  justify-content: space-around;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  text-align: center;
  font-weight: 800;
}
.game__stats li {
  font-size: 0.9rem;
  flex: 0 0 4.5rem;
}
.game__circle {
  color: #4dbcd4;
}
.game__times {
  color: #3989d4;
}
.game__icon {
  font-size: 1.3rem;
  display: block;
}
.game__board {
  border-collapse: collapse;
}
.game__cell {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 3.5rem;
  text-align: center;
  border-right: 1px solid #a4b5b8;
  border-bottom: 1px solid #a4b5b8;
  cursor: cell;
}
.game__cell--hover {
  color: #E8E8E8;
}
.game__cell--times {
  color: #3989d4;
}
.game__cell--circle {
  color: #4dbcd4;
}
.game__cell--won {
  color: #5C7184;
}
.game__cell--draw {
  color: #a4b5b8;
}
.game__cell:nth-child(3) {
  border-right: none;
}
.game__row:nth-child(3) .game__cell {
  border-bottom: none;
}
.game__indicator {
  max-width: 20%;
  margin: auto;
  padding: 1rem 0;
}
.game__indicator .game__icon {
  padding: 2px 0;
  width: 50%;
  text-align: center;
}
.game__indicator .game__icon--active-circle {
  border-radius: 100%;
  color: #EFEFEF;
  box-shadow: 0 0 0 2px #EFEFEF;
  background: #4dbcd4;
}
.game__indicator .game__icon--active-times {
  border-radius: 100%;
  color: #EFEFEF;
  box-shadow: 0 0 0 2px #EFEFEF;
  background: #3989d4;
}
.game__switch {
  border: 1px solid #a4b5b8;
  border-radius: 4rem;
}
.game__controls {
  justify-content: space-around;
  padding: 1rem 0;
}
.game__button {
  flex: 0 0 2rem;
  height: 2rem;
  cursor: pointer;
  color: #EFEFEF;
  background: #909090;
  border-radius: 100%;
  box-shadow: 0 0 0 0.25rem #EFEFEF, 0 0 0 0.25rem #909090;
  transition: box-shadow, background 0.3s;
}
.game__button:hover {
  background: #565656;
  box-shadow: 0 0 0 0.25rem #EFEFEF, 0 0 0 0.25rem #565656;
}
.game__button:active, .game__button:focus {
  background: #3989d4;
  box-shadow: 0 0 0 0.25rem #EFEFEF, 0 0 0 0.25rem #3989d4;
}
.game__mode {
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #909090;
  border-radius: 4rem;
  padding: 0.3em 0.5em;
}
.game__result {
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #F9F9F9;
  text-align: center;
  z-index: 1;
}

/*# sourceMappingURL=styles.css.map */
